{{ partial "header" . }}
{{ $.Scratch.Set "shareNav" true }}
{{ partial "navbar" . }}
<!-- Main -->
<div id="main">
    <article class="post">
    {{ range where .Data.Pages "Title" "Hi there!" }}
    <header>
    <div class="title"><h1><a href="">{{ .Title }}</a></h1></div>
    </header>
    {{ .Content }}
    {{ end }}
    </article>
    <!-- Posts List -->
    <div class="mini-posts">
        <header>
            <h4 class="latest-posts-bottom">Latest Posts</h4>
            {{ if ge (len (where .Site.Pages "Type" "post")) ($.Scratch.Get "postLimit") }}
            <span class="latest-posts-viewall">[<a href="/posts-list" class="button" style="">View all</a>]</span>
            {{ end }}
        </header>
        <div class="posts-container">
            {{ $.Scratch.Set "recentPosts" .Site.Pages }}

            {{ $.Scratch.Set "postLimit" 8 }}

                {{ range first ($.Scratch.Get "postLimit") (where ($.Scratch.Get "recentPosts") "Type" "post") }}
                <div class="recent-posts-item">
                    <a href="{{ .RelPermalink }}">{{ .Title | truncate 40 }}</a>&nbsp;
                    {{ $.Scratch.Set "dateType" .Date }}
                    <time class="published" datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
                       [ {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }} ]
                    </time>
                </div>
                {{ end }}
        </div>
    </div>
</div>
<!--  {{ partial "sidebar" . }} -->
{{ partial "footer" . }}
