{{ partial "header" . }}
{{ partial "navbar" . }}
<!-- Main -->
<main>
  <article class="post">
    {{ range where .Site.Pages "Type" "homepage" }}
    <header>
      <div class="title">
        <h1><a href="">{{ .Title }}</a></h1>
      </div>
    </header>
    {{ .Content }}
    {{ end }}

    <!-- Posts List -->
    <section class="latest-posts">
      <h4 id="latest-posts" class="latest-posts-bottom">Latest Posts</h4>
      {{ if ge (len (where .Site.Pages "Type" "post")) ($.Scratch.Get "postLimit") }}
      <span class="latest-posts-viewall"><a href="/posts-list">View all</a></span>
      {{ end }}
      <div class="posts-container">
        {{ $.Scratch.Set "recentPosts" .Site.Pages }}
        {{ $.Scratch.Set "postLimit" 8 }}
        {{ range first ($.Scratch.Get "postLimit") (where ($.Scratch.Get "recentPosts") "Type" "post") }}
        <div class="recent-posts-item">
          <a class="recent-posts-link" href="{{ .RelPermalink }}">{{ .Title | truncate 50 }}</a>
          {{ $.Scratch.Set "dateType" .Date }}
          <time class="published" datetime='{{ ($.Scratch.Get "dateType").Format "01 Jan 06" }}'>
            {{ ($.Scratch.Get "dateType").Format "01 Jan 06" }}
          </time>
        </div>
        {{ end }}
      </div>
    </section>
  </article>
</main>
{{ partial "footer" . }}
