{{ with .Site.Social.rss }}
<li><a href="/{{.}}" target="_blank" alt="RSS" title="RSS feed for this website">RSS</a></li>
{{ end }}
{{ with .Site.Social.gitlab }}
<li><a href="//gitlab.com/{{.}}" target="_blank" alt="GitLab" title="GitLab repository">GitLab</a></li>
{{ end }}
{{ with .Site.Social.lbry }}
<li><a href="//odysee.com/{{.}}" target="_blank" alt="Odysee" title="Odysee channels">Odysee</a></li>
{{ end }}
{{ with .Site.Social.pgp }}
<li><a href="/pgp/tss_pubkey.asc" target="_blank" alt="PGP" title="PGP key">PGP</a></li>
{{ end }}
{{ with .Site.Social.email }}
<li><a href="mailto:{{.}}" alt="Email" title="Email address">Email</a></li>
{{ end }}
