body {
    color: var(--fg-color);
    background-color: var(--bg-color);
}

.dark-mode{
    color: var(--fg-color-dark) !important;
    background-color: var(--bg-color-dark) !important;
}

pre {
    /*display: table;*/
    table-layout: fixed;
    /*width: 100%*/
}

#header .links a {
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=65);

    /* Modern Browsers */
    opacity: 0.65;
}

#header .main ul li > a {
    color: #aaa;
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=35);
}

#header .main .search input {
    color: #000000;
}
#header .shell {
    font-size: 1em;
    padding-left: 0.4em;
    font-weight: 800;
}
#header .homefolder {
    font-size: 1em;
    color: var(--code-color);
    padding-left: 0.2em;
    font-weight: 600;
}

#intro p,
#intro .icons a {
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=80);

    /* Modern Browsers */
    opacity: 0.8;
}

#sidebar #recent-posts ul.posts time,
#sidebar #categories ul.posts li header,
#sidebar .blurb p {
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=65);

    /* Modern Browsers */
    opacity: 0.65;
}

article.post header .title p,
article.post header .meta p,
article.post header .meta span,
article.post footer .stats {
    font-family: courier, monospace;
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=70);

    /* Modern Browsers */
    opacity: 0.60;
}
article.post footer .tags {
    font-family: courier,monospace;
    padding-left: 1.4em;
}
article.post header .meta p {
    font-size: 0.9em;
}

article.post p,
article.post h2,
article.post h3,
article.post h4 {
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=87)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=87);

    /* Modern Browsers */
    opacity: 0.87;
}

article.post ul {
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=87);

    /* Modern Browsers */
    opacity: 0.87;
}

#header h2 {
    font-size: inherit;
    height: inherit;
    line-height: inherit;
    padding: 0 0 0 1.5em;
    white-space: nowrap;
    margin-top: 0em;
    font-family: monospace;
}
#header h2:before {
    content: none;
}

@media screen and (max-width: 736px) {
    #header h2 {
        padding: 0 0 0 1em;
    }
}

#intro .intro-circle {
    border-radius: 50%;
}

.post > header .title h1 {
    font-weight: 400;
    font-size: 2.6em;
}
@media screen and (max-width: 736px) {
    .post > header .title h1 {
        font-size: 2.1em;
    }
}

@media screen and (max-width: 480px) {
    .post > header .title h1 {
        font-size: 1.8em;
    }
    .post > .image.featured {
        margin-top: 0;
    }
}

blockquote p {
    margin-bottom: 0;
}

.image.center-image {
    max-width: 50%;
}
.image.center-image img {
    width: 100%;
}
.image.center-image {
    display: block;
    margin: auto;
    clear: both;
}

/** Social Share Button CSS **/
#social-share {
    position: relative;
    top: -0.5em;
    margin-top: 5.5em;
}

#social-share ul {
    margin: 0;
}

#social-share .icons li {
    padding: 0 !important;
    padding-bottom: 10px !important;
}

#social-share ul li p {
    display: none;
}

#social-share .share-btn {
    padding: 0.1em;
    width: 2em;
    height: 2em;
}

#social-share-nav .share-btn h3{
    color: #ffffff;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
    text-decoration: none;
}

.share-btn:hover {
    color: #ffffff !important;
}

.share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.reddit      { background: #ff5700; }
.share-btn.email       { background: #444444; }

.share-btn.twitter:hover     { background: #4c9ad6 }
.share-btn.google-plus:hover { background: #c64333; }
.share-btn.facebook:hover    { background: #2f4779; }
.share-btn.linkedin:hover    { background: #4069a2; }
.share-btn.stumbleupon:hover { background: #d3401f; }
.share-btn.reddit:hover      { background: #e54e00; }
.share-btn.email:hover       { background: #363636; }

/* Share Menu */
body.is-share-visible #wrapper {
    opacity: 0.15;
}

#share-menu {
    -moz-transform: translateX(25em);
    -webkit-transform: translateX(25em);
    -ms-transform: translateX(25em);
    transform: translateX(25em);
    -moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    background: #ffffff;
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    box-shadow: none;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 25em;
    z-index: 10002;
}

#share-menu > * {
    border-top: solid 1px rgba(160, 160, 160, 0.3);
    padding: 3em;
}

#share-menu > * > :last-child {
    margin-bottom: 0;
}

#share-menu > :first-child {
    border-top: 0;
}

#share-menu .links {
    list-style: none;
    padding: 0;
}

#share-menu .links > li {
    border: 0;
    margin: 0.7em 0 0 0;
    padding: 1em 0 0 0;
}

#share-menu .links > li a {
    display: block;
    border-bottom: 0;
}

#share-menu .links > li a h3 {
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
    font-size: 0.7em;
}

#share-menu .links > li a p {
    font-family: Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    text-decoration: none;
    text-transform: uppercase;
}

#share-menu .links > li a:hover h3 {
    color: #ffffff;
}

#share-menu .links > li:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

body.is-share-visible #share-menu {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
}

@media screen and (max-width: 736px) {

    #share-menu > * {
        padding: 1.5em;
    }

}

.post {
    margin: 2em auto 2em auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-width: 50em;
}

#content img {
    max-width: 100%;
}

#content p a:hover, #content ul li a:hover {
    border-bottom-style: solid !important;
}

#content blockquote, #content p, #content ul, main ul {
    margin: 1em 0 1em 0;
    list-style: outside square;
}
#content ul, main ul {
    padding-left: 1em;
}

ul.pagination li {
    padding-top: 1em;
}

ul.pagination .button {
    line-height: 1.5em;
    height: auto;
    white-space: normal;
    padding-top: 1em;
    padding-bottom: 1em;
}

#tags {
    min-height: 20em;
}

#tag-cloud {
    max-width: 25em;
}

div.recent-posts-item {
    list-style-type: none;
    min-width: 26em;
    display: inline-block;
}
@media screen and (max-width: 736px) {
    div.recent-posts-item {
        min-width: 21em;
    }
}
@media screen and (max-width: 450px) {
    div.recent-posts-item {
        display: grid;
        margin-bottom: 0.4em;
        min-width: 5em;
    }
    div.recent-posts-item a {
        border-bottom-style: none;
    }
}

div.recent-posts-item a {
    font-size: 0.7em;
}

div.recent-posts-item time {
    font-family: courier,monospace;
    letter-spacing: -0.05em;
    font-size: 0.6em;
    margin-right: 0.5em;
}

p.caption {
    color: #999 !important;
    font-style: italic;
}

div.post-notice {
    color: #8e8e8e;
    font-size: 0.9em;
    background-color: #d8ffe1;
    margin: 0 auto 1em auto;
    padding: 0.5em;
    width: 78%;
    line-height: 1.2em;
    border-radius: 0.7em;

}

ul.sidebar-links {
    /* text-align: justify; */
    padding-left: 0em;
}
ul.sidebar-links:after {
    content: '';
    /* display: inline-block; */
    width: 100%;
}
ul.sidebar-links:before {
    content: '';
    display: block;
    margin-top: -2.25em;
}
ul.sidebar-links li {
    color: #fff;
    display: inline-block;
    font: 1em/1.5 sans-serif;
    padding: 0em 1.5em 0em 0em;
    position: relative;
    top: 1.25em;
}
ul.sidebar-links li a {
    color: #333 !important;
    font-family: Helvetica, sans-serif;
    font-size: 0.7em;
    letter-spacing: 0.25em;
    font-weight: 400;
}
ul.icons {
    display: block;
    text-align: center;
    margin-top: 3em;
}

.fa-tss {
    margin-right: 2px;
}
ul.posts-list-button {
    font-family: courier,monospace;
    letter-spacing: -0.05em;
    border: solid 1px #555;
    border-radius: 0.5em;
    display: block;
    text-align: center;
    width: 12em;
    margin: 1em auto 0 auto;
}
ul.posts-list-button li {
    margin-bottom: -0.3em;
}
ul.posts-list-button a {
    border-bottom-style: none;
}
h4.latest-posts-bottom  {
    float: left;
    margin: 0 1em 0 0;
}
.latest-posts-viewall  {
    font-size: 0.7em;
    color: #aaa;
}
div.flexbox {
    display: flex;
}
#license {
    font-size: 0.5em;
    font-family: monospace;
    color: #777;
    text-align: center;
    margin: 0em auto 0 auto;
}
img.inline {
    display: inline;
    vertical-align: middle;
}
.hint {
    font-family: noto sans, sans-serif;
    font-size: 0.9em;
}
.hint-title {
    background-color: var(--bg-hint-title);
    color: var(--fg-hint-title);
    display: block;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin: 1em 0 0 0 !important;
    border-radius: 0.3em 0.3em 0 0;
}
.hint-body {
    background-color: var(--bg-hint-body);
    color: var(--fg-hint-body);
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 0 0 0.3em 0.3em;
    margin-top: 0 !important;
}
.hint-body > code {
    color: var(--fg-color);
}
.guilabel {
    border: 1px solid #7fbbe3;
    background: #e7f2fa;
    color: #000;
    font-family: monospace;
    font-size: 80%;
    font-weight: 700;
    border-radius: 4px;
    padding: 2.4px 6px;
    margin: auto 2px;
}
kbd {
    background-color: var(--kbd-bg);
    border-radius: 3px;
    border: 1px solid var(--kdb-border);
    box-shadow: 2px 2px 1px rgba(150, 150, 150, 1.0);
    color: var(--kbd-fg);
    display: inline-block;
    font-family: monospace;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}
.gray {
    color: gray;
}
.blue {
    color: #3355ff;
}
.orange {
    color: orange;
}
.green {
    color: #33ff55;
}
.red {
    color: #ff5533;
}
.accent {
    color: var(--title-color);
}
div#search-link {
    border: solid 1px rgba(160, 160, 160, 0.6);
    background-color: rgba(160, 160, 160, 0.1);
    padding: 0.2em 0.5em 0.2em 0.5em;
}
div#search-link a {
    color: rgba(160, 160, 160, 0.8);
    text-decoration: none;
    border-bottom-style: none;
}
.footnotes ol {
    font-size: 0.7em;
}
a.footnote-ref {
    font-size: 0.8em;
    text-decoration: none;
}
.data-language-block {
    font-family: monospace;
    font-size: 0.7em;
    display: inline-block;
    background-color: rgba(160,160,160,0.15);
    border-bottom: 0px;
    padding: 0 1.5em 0 1.5em;
    vertical-align: bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
p.fig-attribution {
    margin-top: -0.6em !important;
    font-size: 0.8em;
}
@media screen and (max-width: 1280px) {
aside#toc {
    display: none;
}
}
@media screen and (min-width: 1280px) {
aside#toc {
    position: sticky;
    top: 5rem;
    align-self: start;
    font-size: 0.8rem;
    width: 20%;
    padding-left: 1.5em;
    font-family: sans-serif;
    border-left: solid 1px rgba(127, 127, 127, .7);
}
#toc ol, ul {
    padding-inline-start: 0px;
    margin-bottom: 0;
    list-style: none;
}
#toc ol ol {
    font-size: 0.7rem;
}
#toc ul ul {
    font-size: 0.7rem;
}
#toc li {
    padding-left: 0.3em;
}
#toc a {
    color: var(--fg-color);
    opacity: 0.5;
    text-decoration: none;
    padding-left: 0;
}
.dark-mode #toc a {
    color: var(--fg-color-dark);
}
#toc a > code {
    opacity: 1;
    border: 0;
    background: none;
}
#toc li.active {
    opacity: 1;
}
#toc li.active:before {
    content: "→";
    display: inline-block;
    margin-left: -20px;
    width: 20px;
}
#toc li.active a {
    opacity: 1;
}
}
section.latest-posts {
    margin-top: 4em;
}

#lights {
    line-height: 1.8em;
}
#icon-menu {
    line-height: 1.2em;
}
table.menu-table-index {
    width: 100%;
    font-size: 0.9em;
}
table.menu-table-index a {
    font-family: monospace;
    text-decoration: none;
}
table.menu-table-index tr {
    background-color: #00000000 !important;
    border: 0px #00000000 none;
}
table.menu-table-index td {
    text-align: center;
    width: 25%;
}
table.menu-table-index i {
    font-size: 3em;
    margin-bottom: 0.2em;
}
div.menu-table-item {
    border-radius: 20px;
    margin: 0 auto 0 auto;
    max-width: 18em;
    padding: 1em;
    white-space: nowrap;
}
div.menu-table-item:hover {
    color: var(--title-color);
}
div.menu-table-item:hover i {
    color: var(--title-color);
    border-bottom-style: none;
}
@media screen and (max-width: 550px) {
    div.menu-table-item {
        border-radius: 0.9em;
    }
    table.menu-table-index i {
        font-size: 2.8em;
    }
    table.menu-table-index td {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 480px) {
    table.menu-table-index i {
        font-size: 1.5em;
    }
    table.menu-table-index td {
        font-size: 0.7em;
    }
    div.menu-table-item {
        padding: 0.5em;
    }
}
@media screen and (max-width: 350px) {
    table.menu-table-index i {
        font-size: 1em;
    }
    table.menu-table-index td {
        font-size: 0.5em;
    }
    div.menu-table-item {
        padding: 0.2em;
    }
}
