:root {
    --title-color: #e6b800;
    --title-color-hover: #997a00;
    --link-color: #008fb3;
    --link-color-hover: #4ddbff;
    --code-color: #f67830;

    --bg-color: #fff;
    --fg-color: #0f1f3d;

    --bg-color-dark: #010915;
    --fg-color-dark: #f2f2f2;

    --bg-hint-title: #e6b800;
    --bg-hint-body: #ffe870;
    --fg-hint-title: #f3f3f3;
    --fg-hint-body: #222;
}
