:root {
    --title-color: #f35888;
    --title-color-hover: #95bf0d;
    --link-color: #008fb3;
    --link-color-hover: #4ddbff;
    --code-color: #669900;

    --bg-color: #ececec;
    --fg-color: #333;

    --bg-color-dark: #181818;
    --fg-color-dark: #bbb;
}
