:root {
    --title-color: #2a4;
    --title-color-hover: #071;
    --link-color: #071;
    --link-color-hover: #2a4;
    --code-color: #669900;
    --time-color: #999;

    --bg-color: #fcfcfc;
    --fg-color: #333;

    --bg-color-dark: #111;
    --fg-color-dark: #bbb;

    --bg-hint-title: #2a4;
    --bg-hint-body: #7f9;
    --fg-hint-title: #f3f3f3;
    --fg-hint-body: #222;

    --kbd-bg: #ccc;
    --kbd-fg: #333;
    --kbd-border: #ababab;
}
