:root {
    --title-color: #f35888;
    --title-color-hover: #95bf0d;
    --link-color: #1989a4;
    --link-color-dark: #39c8ec;
    --link-color-hover: #097994;
    --code-color: #669900;
    --time-color: #999;

    --bg-color: #fcfcfc;
    --fg-color: #333;

    --bg-color-dark: #181818;
    --fg-color-dark: #bbb;

    --bg-hint-title: #f35888;
    --bg-hint-body: #fa98c8;
    --fg-hint-title: #f3f3f3;
    --fg-hint-body: #222;

    --kbd-bg: #ddd;
    --kbd-fg: #333;
    --kbd-border: #cdcdcd;
}
