<!-- Header -->
<header id="header">
    {{ if and (.IsNode) (or (.IsHome) (eq .Title "Posts")) }}
    <h1><a href="/">{{ .Site.Params.navbarTitle }}</a></h1>
    {{ else }}
    <h2><a href="/">{{ .Site.Params.navbarTitle }}</a></h2>
    {{ end }}

    <nav class="links">
        <ul>
            {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}">
                    {{ with .Identifier }}
                    <i class="{{ . }}">&nbsp;</i>{{ end }}{{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>

    </nav>
    <nav class="main">
        <ul>
            <li class="menu">
                <a href="javascript:darkModeToggle()" style="border: none;" title="Toggle dark mode">
                    <i class="fa fa-lightbulb-o" style="font-size: 18px; line-height: 2.2; text-indent: -5.5em;" aria-hidden="true"></i>
                </a>
            </li>
            <li class="menu">
                <a href="#menu" title="Menu"><i class="fa fa-bars fa-fw" style="font-size: 14px; line-height: 2.2; text-indent: -5.5em"></i>Menu</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<section id="menu">

    <!-- Search -->
    <section>
        <form class="search" method="get" action="//duckduckgo.com/">
            <input type="text" name="q" placeholder="Search" />
            <input type="hidden" name="q" value="site:{{ .Site.BaseURL }}">
        </form>
    </section>

    <!-- Links -->
    <section>
        <ul class="links">
            {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}">
                    <h3>
                        {{ with .Identifier }}
                        <i class="{{ . }}">&nbsp;</i>
                        {{ end }}
                        {{ .Name }}
                    </h3>
                </a>
            </li>
            {{ end }}
        </ul>
    </section>

</section>
