<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        {{ $pic := .Site.Params.intro.pic }}
        {{ with $pic.src }}
        {{ if $pic.circle }}
        <a href="/" class="mainlogo"><img src="{{ . }}" class="intro-circle" width="{{ $pic.width }}" alt="{{ $pic.alt }}" /></a>
        {{ else if $pic.imperfect }}
        <a href="/" class="logo"><img src="{{ . }}" alt="{{ $pic.alt }}" /></a>
        {{ else }}
        <a href="/" class="mainlogo"><img src="{{ . }}" width="{{ $pic.width }}" alt="{{ $pic.alt }}" /></a>
        {{ end }}
        {{ end }}
        {{ with .Site.Params.intro }}
        <header>
            <h2><a href="/">{{ .header }}</a></h2>
            <p>{{ .paragraph | safeHTML }}</p>
        </header>
        {{ end }}
        <ul class="icons">
            {{ if .RSSLink }}
            <li><a href="{{ .RSSLink }}" type="application/rss+xml"
                                         target="_blank" title="RSS" class="fa fa-rss"></a></li>
            {{ end }}
            {{ if .Site.Params.socialAppearAtTop }}
            {{ partial "social" . }}
            {{ end }}
        </ul>
    </section>

    <!-- About -->
    {{ with .Site.Params.intro.about }}
    <section class="blurb">
        <header>
            <h3><a href="/about">About</a></h3>
        </header>
        <p>{{ . }}</p>
    </section>
    {{ end }}

    <!-- Posts List -->
    <section class="recent-posts">
        <div class="mini-posts">
            <header>
                <h3>Latest Posts</h3>
            </header>
            <div class="posts-container">
                {{ $.Scratch.Set "recentPosts" .Site.Pages }}

                {{ $.Scratch.Set "postLimit" 20 }}

                <ul class="recent-posts-list">
                    {{ range first ($.Scratch.Get "postLimit") (where ($.Scratch.Get "recentPosts") "Type" "post") }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title | truncate 30 }}</a>&nbsp;
                        {{ $.Scratch.Set "dateType" .Date }}
                        <time class="published" datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
                           [ {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }} ]
                        </time>
                    </li>
                    {{ end }}
                </ul>
            </div>

            {{ if ge (len (where .Site.Pages "Type" "post")) ($.Scratch.Get "postLimit") }}
            <a href="/blog/posts-list" class="button">View all posts</a>
            {{ end }}
        </div>
    </section>
    
    <!-- This if statement only applies if someone goes to the /tags url -->
    <!-- Otherwise this section is shown for all other links -->
    {{ if ne ($.Scratch.Get "showTags") false }}
    <!-- Tags List -->
    <section id="tags">
        <ul class="posts">
            <header>
                <h3><a href="/tags/">Tag Cloud</a></h3>
            </header>
            {{ $.Scratch.Set "tags" .Site.Taxonomies.tags.Alphabetical }}

            {{ range $key, $value := $.Scratch.Get "tags" }}
            <div class="tag" style="font-size: {{ add 10 $value.Count }}px">
                <a href="/tags/{{ $value.Name | urlize }}/">{{ $value.Name }}</a>
            </div>
            {{ end }}
        </ul>
    </section>
    {{ end }}

    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            {{ if .Site.Params.socialAppearAtBottom }}
            {{ partial "social" . }}
            {{ end }}
        </ul>

        <p class="copyright">&copy; {{ .Site.Title }}. All rights reserved.</p>
    </section>

</section>
