{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <main>
      <article class="post">
        <header><div class="title">
          <h1>Category: {{ .Title }}</h1>
        </div></header>
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $paginator.Pages }}
            {{ .Render "content-list" }}
        {{ end }}

        {{ partial "pagination" . }}
      </article>
    </main>
    <!--  {{ partial "sidebar" . }} -->
{{ partial "footer" . }}
