{{- $lang := .Get "language" -}}

{{- /* Determine source of the code */ -}}
{{- $code := "" -}}
{{- if .Inner -}}
{{- $code = .Inner -}}
{{- else if .Get "file" -}}
{{- $code = (.Get "file" | readFile) -}}
{{- end -}}

{{- if .Get "summary" }}

<details class="collapsedcode">
  <summary>
    <span class="code">Code: </span><span class="summary">{{ .Get "summary" }}</span>
  </summary>

  {{ (print "```" $lang "\n" $code "\n```") | markdownify }}

</details>

{{ else }}

{{ (print "```" $lang "\n" $code "\n```") | markdownify }}

{{ end }}